@import "../../variables";

.task {
  display: flex;
  justify-content: space-between;
  width: 1081px;
  height: 36px;
  margin-bottom: 40px;

  input[type="text"] {
    cursor: pointer;
    background: transparent;
    border-bottom: 1px solid $orange;
    border-radius: 0;
    width: 1043px;
    color: $white;
    &:focus,
    &::placeholder {
      color: $grey;
    }
  }

  &-btns {
    display: flex;
    justify-content: flex-end;

    button {
      width: 128px;
      height: 44px;
      font-size: 24px;
      font-weight: 500;
      line-height: 28px;
    }

    .action-btn {
      margin-left: 84px;
    }
  }
}

.task.hov {
  &:hover {
    opacity: 0.6;
  }
}
