.box.signup {
  img {
    cursor: pointer;
    float: left;
    margin-left: 45px;
    margin-top: 44px;
  }

  h1 {
    font-size: 64px;
    font-weight: 700;
    line-height: 75px;
    margin-bottom: 101px;
  }

  // create btn

  button {
    font-size: 36px;
    font-weight: 500;
    line-height: 42px;
    margin-top: 62px;
  }
}
