$bg: #1a1a1a;
$boxBg: #2d2d2d;
$orange: #ff9900;
$orangeRed: #ff3d00;
$white: #ffffff;
$green: #00ff0a;
$black: #000000;
$grey: #808080;
$darkGrey: #454545;
$red: #ff0000;

$boxShadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
